.containerForm{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 600px;
    flex-direction: column;
    gap: 50px;
}
.formContent{
    display: flex;
    flex-direction: column;
    width: 420px;
}
.btnSubmit{
    padding: 10px;
    background-color: blue;
    border: transparent;
    border-radius: 10px;
}
