<main class="container">
  <nav class="nav">
    <h1 class="title">Ecommerce</h1>
    <div class="search">
      <input
        id="typeahead-basic"
        type="text"
        class="form-control"
        placeholder="Pesquisar..."
        [(ngModel)]="model"
        [ngbTypeahead]="search"
      />
    </div>
    <span
      class="material-symbols-outlined"
      id="cartIcon"
      (click)="cartActive()"
    >
      shopping_cart <a class="counter">{{ counterCart }}</a></span
    >
    <div class="contentLoginUser">
      <span
        (click)="goToMenager()"
        class="material-symbols-outlined"
        id="contentIcon"
      >
        <a class="userIcon">account_circle</a>
        <a class="userName">{{ userStr }}</a>
      </span>
      <span
        class="material-symbols-outlined"
        (click)="logOut()"
        title="Fazer log out"
        id="logOut"
      >
        logout
      </span>
    </div>
  </nav>

  <div *ngIf="active" class="activeCart">
    <app-cart></app-cart>
  </div>

  <div class="containerProducts">
    <div class="productContent" *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <h2>R$ {{ product.price }}</h2>
      <p>
        Ainda restam {{ product.quantity }}
        {{ product.quantity == 1 ? "unidade" : "unidades" }}
      </p>

      <div class="buttons">
        <button class="detailsBtn" [routerLink]="['/details', product.id]">
          Detalhes
        </button>
        <button class="cartBtn" (click)="sendToCart(product)">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="existingMsg" class="btnExistingMsg">
    <h3>Produto já inserido no carrinho</h3>
  </div>
  <div *ngIf="insertToCart" class="btnInsertToCart">
    <h3>Produto inserido no carrinho</h3>
  </div>
</main>
