<div class="containerForm">
  <form
    class="formContent"
    [formGroup]="productRegister"
    (ngSubmit)="sendProduct()"
  >
    <mat-form-field>
      <mat-label>Nome do Produto</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantity"/>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>Preço</mat-label>
      <input
      formControlName="price"
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
      />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <input formControlName="status" matInput type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>descrição</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <button type="submit" class="btnSubmit">Enviar</button>
  </form>
</div>
