<div class="contentLogin">
  <h1>Entre com sua conta!</h1>
  <div class="contentForm">
    <form [formGroup]="login" (ngSubmit)="onSubmit()" class="formLogin">
      <mat-form-field class="example-full-width">
        <mat-label>Qual o seu nome?</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Digite sua senha</mat-label>
        <input #inputPass matInput type="password" formControlName="password" maxlength="6"/>
      </mat-form-field>
      <p (click)="togglePass()"><mat-checkbox>Mostrar senha</mat-checkbox></p>
      <button mat-flat-button type="submit" (click)="validateLogin()">
        Fazer Login
      </button>
    </form>
    <div class="registerBtn">
     <h4>OU</h4>
      <button class="btnSignUp" routerLink="formRegister">Criar conta</button>
    </div>
  </div>
  <div *ngIf="msgError" class="msgError">
    <div *ngFor="let alert of alerts" >
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{
        alert.message
      }}</ngb-alert>
      <!--
    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button> -->
    </div>
  </div>
</div>
