.contentLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.formLogin{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.contentForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnSignUp{
    border: transparent;
    background-color: blue;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}