.contentFormRegister {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.formRegister {
  display: flex;

  flex-direction: column;
  width: 400px;
}

.btnRegister{
    border: transparent;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
}